# ── 运行模式 ──
SYSTEM_DEV=false
SYSTEM_PORT=8010

# ── 检测模块 ──────────────────────────────────────
YOLO_MODEL_PATH=/app/models/v1.pt
YOLO_CONF_THRESHOLD=0.4
YOLO_DEVICE=cuda

# ── 数据库 ──────────────────────────────────────
DB_SERVER=db-postgres
DB_PORT=5432
DB_USER=tvd
DB_PASSWORD=tvd123
DB_NAME=tvd

# ── 对象存储 (S3 兼容) ─────────────────────────────
S3_SERVER=s3-rustfs
S3_PORT=9000
S3_ACCESS_KEY=tvd
S3_SECRET_KEY=tvd123
S3_BUCKET_NAME=tvd