PYTHONPATH="./"

IS_DEV=true
# ── 检测模块 ──────────────────────────────────────
YOLO_MODEL_PATH="/app/models/Ultralytics/YOLO26/yolo26n.pt"
YOLO_CONF_THRESHOLD=0.4
YOLO_DEVICE=cuda

# ── 数据库 ──────────────────────────────────────
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=ai
POSTGRES_PASSWORD=ai123
POSTGRES_DB=dev

# ── 对象存储 (S3 兼容) ─────────────────────────────
S3_SERVER=localhost
S3_PORT=9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET_NAME=traffic
